<!DOCTYPE html>
<html lang="en">

<head>
  <style>
    body {
      font-family: Arial, Helvetica, sans-serif
    }
  </style>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Solicitação de Compra</title>
</head>

<body>
  <strong>Olá,{{ad.author.name}}</strong>
  <p>Você tem uma nova solicitação de compra para o anuncio {{ad.title}}</p>
  <br>
  <strong>{{user.name}} ({{user.email}}):</strong>

  <p>{{content}}</p>
</body>

</html>